---
interface Props {
  title: string;
  body: string;
  png: string;
}

const { png, title, body } = Astro.props;
---

<li class="card">
  <img src={png} alt={title} class="card-image" />
  <div class="card-content">
    <h2>{title}</h2>
    <p>{body}</p>
  </div>
</li>

<style>
  ul.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .card {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5F6F52;
    border-radius: 7px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    width: 200px; /* Adjusted size */
    margin: 1rem; /* Add spacing between cards */
  }

  .card:hover {
    transform: scale(1.05);
  }

  .card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .card-content {
    padding: 1rem;
    text-align: center;
  }

  h2 {
    font-size: 1.25rem; /* Smaller font */
    margin: 0.5rem 0;
  }

  p {
    margin: 0.5rem 0 0;
    font-size: 0.9rem; /* Adjusted font size */
  }
</style>


